@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Nunito', sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	overflow-y: hidden;
	background-color: #000;
}

a {
	text-decoration: none;
}

/*
	container
*/
.container {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	height: 100%;
	padding: 0 10px;
}

/*
	header
*/
.header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px 0;
	background-color: none;
	z-index: 999;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: inline-block;
	font-size: 30px;
	color: #fff;
	font-weight: 900;
}
	.header__logo:after {
		display: block;
		content: '';
		width: 0;
		height: 2px;
		background-color: #fff;
		transition: width .2s;
	}

	.header__logo:hover:after {
		width: 100%;
	}

.nav {
	display: flex;
	align-items: center;
}

.nav__link {
	display: inline-block;
	color: #fff;
	font-size: 24px;
	margin-right: 20px;
	cursor: pointer;
}
	.nav__link:after {
		display: block;
		content: '';
		width: 0;
		height: 2px;
		background-color: #fff;
		transition: width .2s;
	}

	.nav__link:hover:after {
		width: 100%;
	}

	.nav__link:last-child {
		margin-right: 0;
	}


/*
	banner
*/
.banner {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #000;
}

.banner__img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: .3;
}

.banner__title {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	transition: all .7s;
}
	.banner__title.active {
		bottom: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}

/*
	btn
*/
.btn {
	padding: 10px 20px;
	background-color: none;
	outline: none;
	font-size: 24px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
	.btn.btnmain {
		position: absolute;
		left: 50%;
		bottom: 20%;
		transform: translate(-50%, -20%);
		opacity: 0;
		color: #00d0e8;
		background-color: none;
		border: 2px solid #00d0e8;
		transition: background-color .2s, opacity 1s;
	}
	.btn.btnmain.active {
		opacity: 1;
	}
	.btn.btnmain:hover {
		color: #fff;
		background-color: #00d0e8;
	}

/*
	music
*/
.music {
	position: absolute;
	width: 100%;
	z-index: 100;
	bottom: -100px;
	opacity: 0;
	transition: all .5s;
}
	.music.active {
		bottom: 20px;
		opacity: 1;
	}

.music__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 10px;
}

.music__img {
	display: block;
	border-radius: 10px;
	max-width: 60px;
}

.music__about {
	color: #00d0e8;
	margin-left: 10px;
}

.music__title {
	font-size: 20px;
}

.music__author {
	font-size: 18px;
}

.player {
	padding: 13px;
	background-color: none;
	border-radius: 50%;
	transition: all .2s;
	cursor: pointer;
	border: 2px solid #00d0e8;
}

.player:hover {
	background-color: #00d0e8;
}

.player__btn {
	display: block;
	max-width: 26px;
}

/*
	playlist
*/
.playlist {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .2s;
}
	.playlist.active {
		opacity: 1;
	}

.playlist__inner {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
}

.playlist__item {
	position: relative;
	margin-right: 10px;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	transition: all .2s;
}
	.playlist__item:last-child {
		margin-right: 0;
	}

	.playlist__item:hover {
		background-color: #ccc;
	}
	.playlist__item:hover .playlist__item__img {
		opacity: .5;
	}
	.playlist__item:hover .playlist__item__player__btn {
		opacity: 1;
	}

.playlist__item__img {
	display: block;
	border-radius: 5px;
	width: 120px;
	height: 120px;
	transition: opacity .2s;
}

.playlist__item__player {
	position: relative;
	background-color: #000;
	border-radius: 5px;
}

.playlist__item__player__btn {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	cursor: pointer;
	opacity: 0;
	transition: opacity .2s;
}



@media(max-width: 1100px) {
	.nav {
		display: none;
	}

	.playlist__inner {
		justify-content: center;
	}

	.playlist__item {
		margin-right: 0px;
		margin-bottom: 10px;
	}
		.playlist__item:last-child {
			margin-bottom: 0;
		}
}